.output-containers {
  border: 1px solid black;
  border-radius: 10px;
  min-height: 500px;
  max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
} 

h2{
	text-align: center;
}
h3{
	color: #D62929;
}
#selection{
	border: 1px solid #D62929;
	border-radius: 10px;
	box-shadow: 0 0 5px rgb(0,0,0,.5);
	min-height: 195px;
	min-width: 450px;
}
.selectiongroup{
	margin-left: 10px;
}
 .selectiongroup ul{
	overflow: hidden;

} 
.dropdown-menu{
	width: max-content !important; 
}
.selectiongroup ul li .btn{
	text-align: left;
}

.changeword{
	position: relative;
}
#changebtn{
	position: absolute;
	top: 20px;
	right: 60px;
}
.wordlebtn{
	margin-top: 10px; 
}
.categorybtn{
	text-align: left;
	float: left;
	margin-right: 5px !important;	
	margin-left: 5px !important;
}
.category-label{
	color: black;
	background-color: #FFF;
	 width: 100%; 
	border-color: #FFF;
	padding: 3px;
}
 #association-container{
	height: 480px;
} 
#output-button{
	margin-left: 63px;
}
#category-button{
	margin-left: 98px;
}
#scalefactor{
	margin-left: 60px;
}
#language{
	margin-left: 26px;
}
#wordle-container{
	max-height: 450px;
	max-width: 900px;
}
#wordnumber{
	max-width: 500px;
}
.step2buttons{
	margin-top: 10px;
}