.output-containers {
  border: 1px solid black;
  border-radius: 10px;
  min-height: 450px;
  max-height: 450px;
	overflow-y: auto;
	overflow-x: hidden;
} 
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
h2{
	text-align: center;
}
/* h3{
	color: #D62929;
} */
#selection{
	border: 1px solid #D62929;
	border-radius: 10px;
	box-shadow: 0 0 5px rgb(0,0,0,.5);
	min-height: 195px;
	min-width: 450px;
}
.selectiongroup{
	margin-left: 20px;
}
.selectiongroup ul li .btn{
	width: 95%;
	text-align: center;
}
.btn{
	margin: 5px;
}
.changeword{
	position: relative;
}
#changebtn{
	position: absolute;
	top: 20px;
	right: 0px;
}
.wordlebtn{
	margin-top: 10px; 
}
/* #wordle-canvas{
	padding: 10px;
} */
 #association-container{
	height: 480px;
} 
body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
/* .wordle-button-container{
	position: relative;
	height: 100px;
} */
 /* #category-button{
	padding-left: 50px;
}  */
#output-button{
	margin-left: 63px;
}
#category-button{
	margin-left: 98px;
}
#scalefactor{
	margin-left: 60px;
}
#language{
	margin-left: 26px;
}
#wordle-container{
	max-height: 450px;
	max-width: 900px;
}